.container{
  width: max-content;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#text{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  line-height: 200px;
  text-align: center;
  background-color: rgb(234, 170, 229);
  border-radius: 50%;
  margin-top: 50px;
  font-size: 45px;
  font-weight: bold;
}

#btn{
  user-select: none;
  margin: 0 auto;
  text-align: center;
  padding: 30;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3%;
}